body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  transition: background-color 0.5s, color 0.5s;
}

h1 {
  margin-bottom: 30px;
}

button {
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}
