body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #c49cd4, #c682cc);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 320px;
}

input, button {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #8f29be;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #261429;
}
