body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

label, input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #fd65be;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #45a049;
}

#resultado {
  margin-top: 20px;
  font-size: 20px;
}
